<!DOCTYPE HTML>
{% load static %}
<!--Highcharts-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/js/themes/grid-light.js"></script>
<html>
<head>
	<title>Ankieta</title>
	<meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'main.css' %}"/>
	<style type="text/css">
@import 'https://code.highcharts.com/css/grid-light.css';
</style>
</head>
<body class="is-loading">
<div id="wrapper" class="fade-in">
	<!--tytuł strony pojawiający się-->
	<div id="intro">
		<h1>Ankieta</h1>
		<p>Społeczne postrzeganie chorób psychicznych</p>
	</div>
	<!--pasek nawigacji-->
	<nav id="nav">
		<ul class="links">
			<li><a href="/mainpage">Strona główna</a></li>
			<li><a href="/ankieta">Ankieta</a></li>
			<li class="active"><a href="/wyniki">Wyniki</a></li>
		</ul>
	</nav>

	<!-- Main -->
	<div id="main">
		<!-- Post -->
		<section class="post">
			<header class="major">
				<h1>Wyniki ankiety</h1>
				<p>Obecnie trwa etap zbierania odpowiedzi przez respondentów. <br/>
				Przewidywany dzień uruchomienia modułu Wyniki: 04.06.2018r.</p>

			</header>
			<div id="charts1">
				<script type="text/javascript">

		var chart = Highcharts.chart('charts1', {

				title: {
						text: 'Podział płci badanych: '
				},

				series: [{
						name: 'Płeć ',
						type: 'pie',
						tooltip: {
			 									headerFormat: '{series.name}:<br/>',
			 									pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b> ankietowanych<br/>'
	 					},
						allowPointSelect: true,
						colors:['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],


						data: [
								{
									name: '{{ c_list.0.choice_text }}',
									y: {{ c_list.0.numberOfVotes }},
									selected: false
								},
								{
									name: '{{ c_list.1.choice_text }}',
									y: {{ c_list.1.numberOfVotes }},
									selected: false
								}
							],

						showInLegend: true
				}]
		});
			</script>
			</div>
			<div id="charts2">

			<script type="text/javascript">

	var chart = Highcharts.chart('charts2', {

			title: {
					text: 'Podział badanych ze względu na wiek: '
			},

			series: [{
					name: 'Wiek ',
					type: 'pie',
					tooltip: {
											headerFormat: '{series.name}:<br/>',
											pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b> ankietowanych<br/>'
					},
					allowPointSelect: true,
					colors:['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
					data: [
							['{{ c_list.2.choice_text }}', {{ c_list.2.numberOfVotes }}, false],
							['{{ c_list.3.choice_text }}', {{ c_list.3.numberOfVotes }}, false],
							['{{ c_list.4.choice_text }}', {{ c_list.4.numberOfVotes }}, false],
							['{{ c_list.5.choice_text }}', {{ c_list.5.numberOfVotes }}, false]
					],
					showInLegend: true
			}]
	});
			</script>
			</div>
			<div id="charts3">

			<script type="text/javascript">

	var chart = Highcharts.chart('charts3', {

			title: {
					text: 'Podział badanych ze względu na wykształcenie: '
			},

			series: [{
					name: 'Wykształcenie',
					type: 'pie',
					tooltip: {
											headerFormat: '{series.name}:<br/>',
											pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b> ankietowanych<br/>'
					},
					allowPointSelect: true,
					data: [
							['{{ c_list.8.choice_text }}', {{ c_list.8.numberOfVotes }}, false],
							['{{ c_list.9.choice_text }}', {{ c_list.9.numberOfVotes }}, false],
							['{{ c_list.10.choice_text }}', {{ c_list.10.numberOfVotes }}, false],
							['{{ c_list.11.choice_text }}', {{ c_list.11.numberOfVotes }}, false]
					],
					showInLegend: true
			}]
	});
			</script>
			</div>
			<div id="charts4">

			<script type="text/javascript">

	var chart = Highcharts.chart('charts4', {

			title: {
					text: 'Podział badanych ze względu na zatrudnienie: '
			},

			series: [{
					name: 'Zatrudnienie',
					type: 'pie',
					tooltip: {
											headerFormat: '{series.name}:<br/>',
											pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b> ankietowanych<br/>'
					},
					allowPointSelect: true,
					colors:['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
					data: [
							['{{ c_list.12.choice_text }}', {{ c_list.12.numberOfVotes }}, false],
							['{{ c_list.13.choice_text }}', {{ c_list.13.numberOfVotes }}, false],
							['{{ c_list.14.choice_text }}', {{ c_list.14.numberOfVotes }}, false],
							['{{ c_list.15.choice_text }}', {{ c_list.15.numberOfVotes }}, false]
					],
					showInLegend: true
			}]
	});
			</script>
			</div>
			<div id="charts5">

			<script type="text/javascript">

	var chart = Highcharts.chart('charts5', {

			title: {
					text: 'Procent osób, które przyznałyby się znajomym/rodzinie do bycia u psychologa bądź psychiatry: '
			},
			xAxis: {
				categories: ['U psychologa/tak', 'U psychologa/nie', 'U psychiatry/tak', 'U psychiatry/nie'],
				crosshair: true
			},
			yAxis: {
				title: {
					text: 'Procent ankietowanych: [%]'
				}
			},
			tooltip: {
				formatter: function () {
			return this.series.xAxis.categories[this.point.x] + '<br><b>' + [this.point.y] + '%</b> ankietowanych';}

			},
			series: [{
					name: 'Byłem/przyznam się',
					type: 'column',

					allowPointSelect: true,
					data: [
							['{{ c_list.25.choice_text }}', {{ c_list.25.numberOfVotes }}/({{ c_list.24.numberOfVotes }}+{{ c_list.25.numberOfVotes }})*100, false],
							['{{ c_list.24.choice_text }}', {{ c_list.24.numberOfVotes }}/({{ c_list.24.numberOfVotes }}+{{ c_list.25.numberOfVotes }})*100, false],
							['{{ c_list.27.choice_text }}', {{ c_list.27.numberOfVotes }}/({{ c_list.26.numberOfVotes }}+{{ c_list.27.numberOfVotes }})*100, false],
							['{{ c_list.26.choice_text }}', {{ c_list.26.numberOfVotes }}/({{ c_list.26.numberOfVotes }}+{{ c_list.27.numberOfVotes }})*100, false]
					],
					showInLegend: false
			}]
	});
			</script>
			</div>
			<div id="charts6">

			<script type="text/javascript">

	var chart = Highcharts.chart('charts6', {

			title: {
					text: 'Procent ankietowanych, którzy zmagali się z chorobami psychicznymi: '
			},

			series: [{
					name: 'Wiek ',
					type: 'pie',
					tooltip: {
											headerFormat: '{series.name}:<br/>',
											pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b> ankietowanych<br/>'
					},
					allowPointSelect: true,
					colors:['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
					data: [
							['{{ c_list.2.choice_text }}', {{ c_list.2.numberOfVotes }}, false],
							['{{ c_list.3.choice_text }}', {{ c_list.3.numberOfVotes }}, false],
							['{{ c_list.4.choice_text }}', {{ c_list.4.numberOfVotes }}, false],
							['{{ c_list.5.choice_text }}', {{ c_list.5.numberOfVotes }}, false]
					],
					showInLegend: true
			}]
	});
			</script>
			</div>
		</section>

	</div>
	<!-- stopka -->
	<div id="footer">
		<ul>
			<li><a href="mailto:s155256@student.pg.edu.pl">Michał Falkiewicz</a></li>
			<li><a href="https://eti.pg.edu.pl/katedra-inzynierii-biomedycznej">Inżynieria Biomedyczna</a></li>

		</ul>
	</div>

</div>
<!--Skrypty-->

<!--jQuery z googleapi-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--biblioteki jQuery do scrollowania-->
<script src="{% static 'jquery.scrolly.min.js' %}"></script>
<!--framework skel-->
<script src="{% static 'skel.min.js' %}"></script>
<!--JavaScript-->
<script src="{% static 'main.js' %}"></script>
</body>
</html>
